<script>
    // 這個函數用來將 Entity Code 轉回中文
    function decodeEntities(encodedString) {
        var textArea = document.createElement('textarea');
        textArea.innerHTML = encodedString;
        return textArea.value;
    }
    var serverMessage = decodeEntities('@TempData["message"]');
    if (serverMessage.length > 0) {
        Swal.fire({
            title : serverMessage,
            customClass: {
                title: 'swal-title-font-size',
                closeButton: 'swal-button-font-size',
                confirmButton: 'swal-button-font-size',
                cancelButton: 'swal-button-font-size'
            }
        });
    }
</script>

<div id="page-wrapper">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">新增爬蟲設定</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        請填寫並確認表單內容
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-lg-6">
                                <form role="form" asp-controller="CrawlSetting" asp-action="Create">
                                    <div class="form-group">
                                        <label>設定說明</label>
                                        <input class="form-control" name="Remark" maxlength="100">
                                    </div>
                                    <div class="form-group">
                                        <label>目標網址</label>
                                        <textarea class="form-control" name="TargetUrl" rows="7" maxlength="2000" required></textarea>
                                    </div>
                                    <div style="display:flex; width:100%;">
                                        <div class="form-group" style="width:48%;">
                                            <label>月薪下限</label>
                                            <input class="form-control" name="MinSalary" type="number" value=40000 min="40000" max=900000 autocomplete="off" required>
                                        </div>
                                        <div class="form-group" style="margin-left:4%; width:48%;">
                                            <label>排除面議</label>
                                            <select class="form-control" name="HasSalary" required>
                                                <option>是</option>
                                                <option>否</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label>排除關鍵字</label>
                                        <textarea class="form-control" name="ExcludeWords" rows="2" placeholder="請以逗號區隔" maxlength="200"></textarea>
                                    </div>
                                    <div class="form-group" style="margin-top:25px;">
                                        @{
                                            string cBoxStyle = "width:18px; height:18px; cursor:pointer; margin-top:3px;";
                                            string cBoxLabelStyle = "margin-left:4px; font-size:14px; margin-top:3px;";
                                        }
                                        <label>經歷要求</label>&nbsp;&nbsp;&nbsp;&nbsp;
                                        <label class="checkbox-inline">
                                            <input type="checkbox" name="seniority1" style="@cBoxStyle" value="1">
                                            <label style="@cBoxLabelStyle">0~1年</label>
                                        </label>
                                        <label class="checkbox-inline">
                                            <input type="checkbox" name="seniority2" style="@cBoxStyle" value="3">
                                            <label style="@cBoxLabelStyle">1~3年</label>
                                        </label>
                                        <label class="checkbox-inline">
                                            <input type="checkbox" name="seniority3" style="@cBoxStyle" value="5">
                                            <label style="@cBoxLabelStyle">3~5年</label>
                                        </label>
                                    </div>
                                    <button type="submit" class="btn btn-primary">送出</button>
                                    <button type="reset" class="btn btn-success">重設</button>
                                    <a class="btn btn-danger" href="@Url.Action("Index","CrawlSetting")">回上一頁</a>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
