@model List<JobFilter2.Models.Entities.CrawlSetting>

<script>
    function DeleteData(idOfData) {
        Swal.fire({
            title: "確定要刪除?",
            showCancelButton: true,
            customClass: {
                title: 'swal-title-font-size',
                closeButton: 'swal-button-font-size',
                confirmButton: 'swal-button-font-size',
                cancelButton: 'swal-button-font-size'
            }
        }).then(function(result) {
            if (result.value) {
                $.ajax({
                    type: 'POST',
                    url: '@Url.Action("Delete", "CrawlSetting")',
                    data: { Id: idOfData }
                })
                .done(function (message) {
                    if (message == "刪除成功") {
                        self.location.reload();
                    }
                    else{
                        Swal.fire({
                            title : "操作失敗",
                            customClass: {
                                title: 'swal-title-font-size',
                                closeButton: 'swal-button-font-size',
                                confirmButton: 'swal-button-font-size',
                                cancelButton: 'swal-button-font-size'
                            }
                        });
                    }
                });
            }
        });
    }
</script>

<div id="page-wrapper">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">爬蟲的設定列表</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <button class="btn btn-primary" onclick="location.href='@Url.Action("Create","CrawlSetting")'">新增爬蟲設定</button>
                    </div>
                    <div class="panel-body">
                        <div class="table-responsive">
                            <table class="table table-bordered table-hover" id="dataTables-example">
                                <thead>
                                    <tr>
                                        <th style="display:none;">排版用(不顯示)</th>
                                        <th style="white-space: nowrap;">設定說明</th>
                                        <th style="white-space: nowrap;">最低月薪</th>
                                        <th style="white-space: nowrap;">最高月薪(下限)</th>
                                        <th style="white-space: nowrap;">經歷要求</th>
                                        <th style="white-space: nowrap;">職稱排除</th>
                                        <th style="white-space: nowrap;">職稱包含</th>
                                        <th style="white-space: nowrap;">排除面議</th>
                                        <th style="white-space: nowrap;">操作選項</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @{
                                        int sequence = 0;
                                        foreach (var crawlSetting in Model)
                                        {
                                            sequence++;
                                            string remark = crawlSetting.Remark ?? "無";
                                            <tr class="gradeA">
                                                <td style="display:none;">@sequence</td>
                                                <td>@remark</td>
                                                <td>@crawlSetting.MinSalary</td>
                                                <td>@crawlSetting.MaxSalary</td>
                                                @{
                                                    List<string> sList = new List<string>();
                                                    List<string> SenioritySplit = crawlSetting.Seniority?.Split(',').ToList();
                                                    SenioritySplit = SenioritySplit ?? new List<string>();
                                                    if (SenioritySplit.Contains("1")) sList.Add("0-1");
                                                    if (SenioritySplit.Contains("3")) sList.Add("1-3");
                                                    if (SenioritySplit.Contains("5")) sList.Add("3-5");
                                                    if (SenioritySplit.Contains("10")) sList.Add("5-10");
                                                    string seniority = string.Join(",", sList);
                                                    if (string.IsNullOrEmpty(seniority))
                                                    {
                                                        seniority = "無";
                                                    }
                                                }
                                                <td>@seniority</td>
                                                <td>@(string.IsNullOrEmpty(crawlSetting.ExcludeWords) ? "無" : crawlSetting.ExcludeWords)</td>
                                                <td>@(string.IsNullOrEmpty(crawlSetting.IncludeWords) ? "無" : crawlSetting.IncludeWords)</td>
                                                <td>@crawlSetting.HasSalary</td>
                                                <td style="white-space: nowrap;">
                                                    <button class="btn btn-info" onclick="location.href='@Url.Action("DoCrawl", "CrawlSetting", new { id = crawlSetting.Id })'">爬取工作</button>
                                                    <button class="btn btn-success" onclick="location.href='@Url.Action("Edit", "CrawlSetting", new { id = crawlSetting.Id })'">修改</button>
                                                    <button class="btn btn-danger" onclick="DeleteData(@crawlSetting.Id)">刪除</button>
                                                </td>
                                            </tr>
                                        }
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>