@using Newtonsoft.Json;
@using Microsoft.AspNetCore.Http
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor
@{
    List<JobItem> jobItems = new List<JobItem>();
    string itemStr = HttpContextAccessor.HttpContext.Session.GetString("jobItems");
    if(itemStr != null)
    {
        jobItems = JsonConvert.DeserializeObject<List<JobItem>>(itemStr);
    }
}﻿

<script>
    // 這個函數用來將 Entity Code 轉回中文
    function decodeEntities(encodedString) {
        var textArea = document.createElement('textarea');
        textArea.innerHTML = encodedString;
        return textArea.value;
    }
    var serverMessage = decodeEntities('@TempData["message"]');
    if (serverMessage.length > 0) {
        alert(serverMessage);
    }
</script>

<script>
    function DeleteData(jobCode) {
        var result = confirm("確定要封鎖這筆工作?");
        if (result) {
            $.ajax({
                type: 'POST',
                url: '@Url.Action("Create", "BlockJobItem")',
                data: { jobCode: jobCode }
            })
            .done(function (message) {
                if (message == "封鎖成功") {
                    document.getElementById(jobCode).style.pointerEvents = "none";
                    document.getElementById(jobCode).style.opacity = "0.5";
                }
                else{
                    alert("資料庫忙碌中，請稍後再試");
                }
            });
        }
    }
</script>

<div id="page-wrapper">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">過濾後的工作列表</h1>
            </div>
            <!-- /.col-lg-12 -->
        </div>
        <!-- /.row -->
        <div class="row">
            <div class="col-lg-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        過濾完畢的工作列表
                    </div>
                    <!-- /.panel-heading -->
                    <div class="panel-body">
                        <div class="table-responsive">
                            <table class="table table-striped table-bordered table-hover" id="dataTables-example">
                                <thead>
                                    <tr>
                                        <th style="white-space: nowrap;">職位名稱</th>
                                        <th style="white-space: nowrap;">薪資範圍</th>
                                        <th style="white-space: nowrap;">公司名稱</th>
                                        <th style="white-space: nowrap;">公司地址</th>
                                        <th style="white-space: nowrap;">操作選項</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var jobItem in jobItems)
                                    {
                                        <tr class="gradeA">
                                            <td><a href="@jobItem.Link" target="_blank">@jobItem.Title</a></td>
                                            <td>@jobItem.Salary</td>
                                            <td><a href="https://www.qollie.com/search?keyword=@jobItem.Company&kind=company&from=normal" target="_blank">@jobItem.Company</a></td>
                                            <td><a href="https://www.google.com/maps?q=@jobItem.Address" target="_blank">@jobItem.Address</a></td>
                                            <td class="center-block" style="white-space: nowrap;">
                                                <a class="btn btn-primary" id="@jobItem.Code" onclick="DeleteData('@jobItem.Code')">封鎖工作</a>
                                                <a class="btn btn-success" target="_blank" href="@Url.Action("Create", "BlockCompany", new { Company = jobItem.Company })">封鎖公司</a>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <!-- /.panel-body -->
                </div>
                <!-- /.panel -->
            </div>
            <!-- /.col-lg-12 -->
        </div>
    </div>
    <!-- /.container-fluid -->
</div>
<!-- /#page-wrapper -->