@using Newtonsoft.Json;
@using Microsoft.AspNetCore.Http
@using JobFilter2.Services
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor
@{
    List<JobItem> jobItems = new List<JobItem>();
    string itemStr = HttpContextAccessor.HttpContext.Session.GetString("jobItems");
    if(itemStr != null)
    {
        jobItems = JsonConvert.DeserializeObject<List<JobItem>>(itemStr);
    }
}﻿

<script>
    // 這個函數用來將 Entity Code 轉回中文
    function decodeEntities(encodedString) {
        var textArea = document.createElement('textarea');
        textArea.innerHTML = encodedString;
        return textArea.value;
    }
    var serverMessage = decodeEntities('@TempData["message"]');
    if (serverMessage.length > 0) {
        Swal.fire({
            title : serverMessage,
            customClass: {
                title: 'swal-title-font-size',
                closeButton: 'swal-button-font-size',
                confirmButton: 'swal-button-font-size',
                cancelButton: 'swal-button-font-size'
            }
        });
    }
</script>

<script>
    function BlockJob(jobCode, btn_blockJob, btn_blockCompany) {
        Swal.fire({
            title: "確定要封鎖?",
            showCancelButton: true,
            customClass: {
                title: 'swal-title-font-size',
                closeButton: 'swal-button-font-size',
                confirmButton: 'swal-button-font-size',
                cancelButton: 'swal-button-font-size'
            }
        }).then(function(result) {
            if (result.value) {
                $.ajax({
                    type: 'POST',
                    url: '@Url.Action("Create", "BlockJobItem")',
                    data: { jobCode: jobCode }
                })
                .done(function (message) {
                    if (message == "封鎖成功") {
                        document.getElementById(btn_blockCompany).disabled = true;
                        document.getElementById(btn_blockJob).disabled = true;
                    }
                    else{
                        Swal.fire({
                            title : "操作失敗",
                            customClass: {
                                title: 'swal-title-font-size',
                                closeButton: 'swal-button-font-size',
                                confirmButton: 'swal-button-font-size',
                                cancelButton: 'swal-button-font-size'
                            }
                        });
                    }
                });
            }
        });
    }
</script>

<script>
    function BlockCompany(btn_blockCompany, companyName, btn_blockJob) {
        (async () => {
            const { value: blockReason } = await Swal.fire({
                title: '選擇封鎖理由',
                input: 'radio',
                inputOptions: {
                    '派遣或駐點': '派遣或駐點',
                    '交通不方便': '交通不方便',
                    '技能樹不符合': '技能樹不符合',
                    '薪水太低': '薪水太低',
                    '搜尋評論後失去興趣': '搜尋評論後失去興趣',
                    '上班時間超過9小時': '上班時間超過9小時',
                    '對招募流程不滿意': '對招募流程不滿意',
                    '對這類產業沒有興趣': '對這類產業沒有興趣',
                    '看完徵才條件後失去興趣': '看完徵才條件後失去興趣',
                    '親自面過後失去興趣': '親自面過後失去興趣',
                    '投遞履歷後沒有回應': '投遞履歷後沒有回應',
                    '面試後無聲卡': '面試後無聲卡',
                    '莫名被發感謝函': '莫名被發感謝函'
                },
                inputValue: '派遣或駐點',
                showCancelButton: true,
                customClass: {
                    title: 'swal-title-font-size',
                    closeButton: 'swal-button-font-size',
                    confirmButton: 'swal-button-font-size',
                    cancelButton: 'swal-button-font-size',
                    input: 'swal-radio'
                },
            })
            if (blockReason) {
                $.ajax({
                    type: 'POST',
                    url: '@Url.Action("Create", "BlockCompany")',
                    data: { companyName: companyName, blockReason: blockReason }
                })
                .done(function (message) {
                    if (message == "封鎖成功") {
                        document.getElementById(btn_blockCompany).disabled = true;
                        document.getElementById(btn_blockJob).disabled = true;
                    }
                    else{
                        Swal.fire({
                            title : "操作失敗",
                            customClass: {
                                title: 'swal-title-font-size',
                                closeButton: 'swal-button-font-size',
                                confirmButton: 'swal-button-font-size',
                                cancelButton: 'swal-button-font-size'
                            }
                        });
                    }
                });
            }

        })()
    }
</script>

<div id="page-wrapper">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">過濾後的工作列表</h1>
            </div>
            <!-- /.col-lg-12 -->
        </div>
        <!-- /.row -->
        <div class="row">
            <div class="col-lg-12">
                <div class="panel panel-default">
                    <!-- /.panel-heading -->
                    <div class="panel-body">
                        <div class="table-responsive">
                            <table class="table table-bordered table-hover" id="dataTables-example">
                                <thead>
                                    <tr>
                                        <th style="display:none;">排版用(不顯示)</th>
                                        <th style="white-space: nowrap;">職位名稱</th>
                                        <th style="white-space: nowrap;">薪資範圍</th>
                                        <th style="white-space: nowrap;">公司名稱</th>
                                        <th style="white-space: nowrap;">公司地址</th>
                                        <th style="white-space: nowrap;">操作選項</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @{
                                        int sequence = 0;
                                        foreach (var jobItem in jobItems)
                                        {
                                            sequence++;
                                            string selector_id = Guid.NewGuid().ToString();
                                            <tr class="gradeA">
                                                <td style="display:none;">@sequence</td>
                                                <td><a href="@jobItem.Link" target="_blank">@jobItem.Title</a></td>
                                                <td>@jobItem.Salary</td>
                                                <td><a href="https://www.qollie.com/search?keyword=@jobItem.Company&kind=company&from=normal" target="_blank">@jobItem.Company</a></td>
                                                <td><a href="https://www.google.com/maps?q=@jobItem.Address" target="_blank">@jobItem.Address</a></td>
                                                <td class="center-block" style="white-space: nowrap;">
                                                    <button class="btn btn-success" id="btn_blockJob_@jobItem.Code" onclick="BlockJob('@jobItem.Code', 'btn_blockJob_@jobItem.Code', 'btn_blockCompany_@jobItem.Code')">封鎖工作</button>
                                                    <button class="btn btn-danger" id="btn_blockCompany_@jobItem.Code" onclick="BlockCompany('btn_blockCompany_@jobItem.Code', '@jobItem.Company', 'btn_blockJob_@jobItem.Code')">封鎖公司</button>
                                                </td>
                                            </tr>
                                        }
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <!-- /.panel-body -->
                </div>
                <!-- /.panel -->
            </div>
            <!-- /.col-lg-12 -->
        </div>
    </div>
    <!-- /.container-fluid -->
</div>
<!-- /#page-wrapper -->