@using Newtonsoft.Json;
@using Microsoft.AspNetCore.Http
@using JobFilter2.Services
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor
@{
    List<JobItem> jobItems = new List<JobItem>();
    string itemStr = HttpContextAccessor.HttpContext.Session.GetString("jobItems");
    if(itemStr != null)
    {
        jobItems = JsonConvert.DeserializeObject<List<JobItem>>(itemStr);
    }
}﻿

<script>
    // 這個函數用來將 Entity Code 轉回中文
    function decodeEntities(encodedString) {
        var textArea = document.createElement('textarea');
        textArea.innerHTML = encodedString;
        return textArea.value;
    }
    var serverMessage = decodeEntities('@TempData["message"]');
    if (serverMessage.length > 0) {
        Swal.fire({
            title : serverMessage,
            customClass: {
                title: 'swal-title-font-size',
                closeButton: 'swal-button-font-size',
                confirmButton: 'swal-button-font-size',
                cancelButton: 'swal-button-font-size'
            }
        });
    }
</script>

<script>
    function BlockJob(jobCode, btn_blockJob, btn_blockCompany) {
        Swal.fire({
            title: "確定要封鎖?",
            showCancelButton: true,
            customClass: {
                title: 'swal-title-font-size',
                closeButton: 'swal-button-font-size',
                confirmButton: 'swal-button-font-size',
                cancelButton: 'swal-button-font-size'
            }
        }).then(function(result) {
            if (result.value) {
                $.ajax({
                    type: 'POST',
                    url: '@Url.Action("Create", "BlockJobItem")',
                    data: { jobCode: jobCode }
                })
                .done(function (message) {
                    if (message == "封鎖成功") {
                        document.getElementById(btn_blockCompany).disabled = true;
                        document.getElementById(btn_blockJob).disabled = true;
                    }
                    else{
                        Swal.fire({
                            title : "操作失敗",
                            customClass: {
                                title: 'swal-title-font-size',
                                closeButton: 'swal-button-font-size',
                                confirmButton: 'swal-button-font-size',
                                cancelButton: 'swal-button-font-size'
                            }
                        });
                    }
                });
            }
        });
    }
</script>

<script>
    function BlockCompany(btn_blockCompany, companyName, btn_blockJob) {
        (async () => {
            const { value: blockReason } = await Swal.fire({
                title: '請選擇封鎖理由',
                width:360,
                input: 'radio',
                inputOptions: {
                    @Html.Raw(@Utility.GetRadioItems())
                },
                inputValue: 'R01', // R01這個值來自於後端定義的封鎖代碼
                showCancelButton: true,
                customClass: {
                    title: 'swal-title-font-size',
                    closeButton: 'swal-button-font-size',
                    confirmButton: 'swal-button-font-size',
                    cancelButton: 'swal-button-font-size',
                    input: 'swal-radio'
                },
            })
            if (blockReason) {
                $.ajax({
                    type: 'POST',
                    url: '@Url.Action("Create", "BlockCompany")',
                    data: { companyName: companyName, blockReason: blockReason }
                })
                .done(function (message) {
                    if (message == "封鎖成功") {
                        document.getElementById(btn_blockCompany).disabled = true;
                        document.getElementById(btn_blockJob).disabled = true;
                    }
                    else{
                        Swal.fire({
                            title : "操作失敗",
                            customClass: {
                                title: 'swal-title-font-size',
                                closeButton: 'swal-button-font-size',
                                confirmButton: 'swal-button-font-size',
                                cancelButton: 'swal-button-font-size'
                            }
                        });
                    }
                });
            }

        })()
    }
</script>

<script>
    function SearchComment(companyName) {
        var fileLinks = [];
        var linkNum = 3;
        // 製造並配置多個超連結
        for (var i = 0; i < linkNum; i++) {
            fileLinks.push(document.createElement("a"));
            document.body.appendChild(fileLinks[i]);
            fileLinks[i].style = "display:none";
            fileLinks[i].setAttribute('target', '_blank');
        }
        // 設定超連結的網址
        fileLinks[0].href = "https://interview.tw/search?keyword=" + companyName;
        fileLinks[1].href = "https://www.qollie.com/search?keyword=" + companyName + "&kind=company&from=normal";
        fileLinks[2].href = "https://www.goodjob.life/companies/" + companyName;
        // 開啟所有的超連結
        for (var i = 0; i < linkNum; i++) {
            fileLinks[i].click();
        }
    }
</script>

<div id="page-wrapper">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">過濾後的工作列表</h1>
            </div>
            <!-- /.col-lg-12 -->
        </div>
        <!-- /.row -->
        <div class="row">
            <div class="col-lg-12">
                <div class="panel panel-default">
                    <!-- /.panel-heading -->
                    <div class="panel-body">
                        <div class="table-responsive">
                            <table class="table table-bordered table-hover" id="dataTables-example">
                                <thead>
                                    <tr>
                                        <th style="display:none;">排版用(不顯示)</th>
                                        <th style="white-space: nowrap;">職位名稱</th>
                                        <th style="white-space: nowrap;">薪資範圍</th>
                                        <th style="white-space: nowrap;">公司名稱</th>
                                        <th style="white-space: nowrap;">公司地址</th>
                                        <th style="white-space: nowrap;">操作選項</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @{
                                        int sequence = 0;
                                        foreach (var jobItem in jobItems)
                                        {
                                            sequence++;
                                            string selector_id = Guid.NewGuid().ToString();
                                                                    <tr class="gradeA">
                                                                        <td style="display:none;">@sequence</td>
                                                                        <td><a href="@jobItem.Link" target="_blank">@jobItem.Title</a></td>
                                                                        <td>@jobItem.Salary</td>
                                                                        <td><a onclick="SearchComment('@jobItem.Company'); return false;" style="cursor:pointer;">@jobItem.Company</a></td>
                                                                        <td><a href="https://www.google.com/maps?q=@jobItem.Address" target="_blank">@jobItem.Address</a></td>
                                                                        <td class="center-block" style="white-space: nowrap;">
                                                                            <button class="btn btn-success" id="btn_blockJob_@jobItem.Code" onclick="BlockJob('@jobItem.Code', 'btn_blockJob_@jobItem.Code', 'btn_blockCompany_@jobItem.Code')">封鎖工作</button>
                                                                            <button class="btn btn-danger" id="btn_blockCompany_@jobItem.Code" onclick="BlockCompany('btn_blockCompany_@jobItem.Code', '@jobItem.Company', 'btn_blockJob_@jobItem.Code')">封鎖公司</button>
                                                                        </td>
                                                                    </tr>
                                        }
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <!-- /.panel-body -->
                </div>
                <!-- /.panel -->
            </div>
            <!-- /.col-lg-12 -->
        </div>
    </div>
    <!-- /.container-fluid -->
</div>
<!-- /#page-wrapper -->