@model List<JobFilter2.Models.Entities.BlockCompany>
@using JobFilter2.Services

<script>
    // 這個函數用來將 Entity Code 轉回中文
    function decodeEntities(encodedString) {
        var textArea = document.createElement('textarea');
        textArea.innerHTML = encodedString;
        return textArea.value;
    }
    var serverMessage = decodeEntities('@TempData["message"]');
    if (serverMessage.length > 0) {
        Swal.fire({
            title : serverMessage,
            customClass: {
                title: 'swal-title-font-size',
                closeButton: 'swal-button-font-size',
                confirmButton: 'swal-button-font-size',
                cancelButton: 'swal-button-font-size'
            }
        });
    }
</script>

<script>
    function DeleteData(idOfData) {
        Swal.fire({
            title: "確定要刪除?",
            showCancelButton: true,
            customClass: {
                title: 'swal-title-font-size',
                closeButton: 'swal-button-font-size',
                confirmButton: 'swal-button-font-size',
                cancelButton: 'swal-button-font-size'
            }
        }).then(function(result) {
            if (result.value) {
                $.ajax({
                    type: 'POST',
                    url: '@Url.Action("Delete", "BlockCompany")',
                    data: { id: idOfData }
                })
                .done(function (message) {
                    if (message == "刪除成功") {
                        document.getElementById("delete_" + idOfData).disabled = true;
                        // 令修改按鈕連帶失效、淡出
                        document.getElementById("edit_" + idOfData).style.pointerEvents = "none";
                        document.getElementById("edit_" + idOfData).style.opacity = "0.5";
                    }
                    else{
                        Swal.fire({
                            title : "操作失敗",
                            customClass: {
                                title: 'swal-title-font-size',
                                closeButton: 'swal-button-font-size',
                                confirmButton: 'swal-button-font-size',
                                cancelButton: 'swal-button-font-size'
                            }
                        });
                    }
                });
            }
        });
    }
</script>

<script>
    function EditBlockReason(data_id) {
        let selector_id = "edit_" + data_id;
        let reason_id = "reason_" + data_id;
        // 取得選擇的理由
        let new_reason = document.getElementById(selector_id).value;
        // 令 selector 保持顯示這幾個字
        document.getElementById(selector_id).value = "修改理由";
        // 若沒有選擇理由則返回
        if(new_reason == "修改理由" || new_reason == "------請選擇理由------"){
            return;
        }
        Swal.fire({
            title: "確定要修改?",
            showCancelButton: true,
            customClass: {
                title: 'swal-title-font-size',
                closeButton: 'swal-button-font-size',
                confirmButton: 'swal-button-font-size',
                cancelButton: 'swal-button-font-size'
            }
        }).then(function(result) {
            if (result.value) {
                $.ajax({
                    type: 'POST',
                    url: '@Url.Action("Edit", "BlockCompany")',
                    data: { id: data_id, new_reason: new_reason }
                })
                .done(function (message) {
                    if (message == "修改成功") {
                        // 修改頁面顯示的封鎖理由
                        document.getElementById(reason_id).innerText = new_reason;
                    }
                    else{
                        Swal.fire({
                            title : "操作失敗",
                            customClass: {
                                title: 'swal-title-font-size',
                                closeButton: 'swal-button-font-size',
                                confirmButton: 'swal-button-font-size',
                                cancelButton: 'swal-button-font-size'
                            }
                        });
                    }
                });
            }
        });
    }
</script>

<div id="page-wrapper">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">封鎖的公司列表</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="table-responsive">
                            <table class="table table-bordered table-hover" id="dataTables-example">
                                <thead>
                                    <tr>
                                        <th style="display:none;">排版用(不顯示)</th>
                                        <th>公司名稱</th>
                                        <th>封鎖理由</th>
                                        <th>操作選項</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @{
                                        int sequence = 0;
                                        foreach (var blockCompany in Model)
                                        {
                                            sequence++;
                                            <tr class="gradeA">
                                                <td style="display:none;">@sequence</td>
                                                <td>@blockCompany.CompanyName</td>
                                                <td id="reason_@blockCompany.Id">@blockCompany.BlockReason</td>
                                                <td class="center-block">
                                                    <select id="edit_@blockCompany.Id" onchange="EditBlockReason(@blockCompany.Id)" style="width:90px; height:36px;">
                                                        <option>修改理由</option>
                                                        <option>------請選擇理由------</option>
                                                        @{
                                                            foreach (var reason in Utility.BlockReason)
                                                            {
                                                                <option>@reason</option>
                                                            }
                                                        }
                                                    </select>
                                                    <button class="btn btn-danger" id="delete_@blockCompany.Id" onclick="DeleteData(@blockCompany.Id)">刪除</button>
                                                </td>
                                            </tr>
                                        }
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>