@model List<JobFilter2.Models.Entities.BlockCompany>
@using JobFilter2.Services

<script>
    // 這個函數用來將 Entity Code 轉回中文
    function decodeEntities(encodedString) {
        var textArea = document.createElement('textarea');
        textArea.innerHTML = encodedString;
        return textArea.value;
    }
    var serverMessage = decodeEntities('@TempData["message"]');
    if (serverMessage.length > 0) {
        Swal.fire({
            title : serverMessage,
            customClass: {
                title: 'swal-title-font-size',
                closeButton: 'swal-button-font-size',
                confirmButton: 'swal-button-font-size',
                cancelButton: 'swal-button-font-size'
            }
        });
    }
</script>

<script>
    function DeleteData(idOfData, btn_edit, btn_delete) {
        Swal.fire({
            title: "確定要刪除?",
            showCancelButton: true,
            customClass: {
                title: 'swal-title-font-size',
                closeButton: 'swal-button-font-size',
                confirmButton: 'swal-button-font-size',
                cancelButton: 'swal-button-font-size'
            }
        }).then(function(result) {
            if (result.value) {
                $.ajax({
                    type: 'POST',
                    url: '@Url.Action("Delete", "BlockCompany")',
                    data: { id: idOfData }
                })
                .done(function (message) {
                    if (message == "刪除成功") {
                        document.getElementById(btn_edit).disabled = true;
                        document.getElementById(btn_delete).disabled = true;
                    }
                    else{
                        Swal.fire({
                            title : "操作失敗",
                            customClass: {
                                title: 'swal-title-font-size',
                                closeButton: 'swal-button-font-size',
                                confirmButton: 'swal-button-font-size',
                                cancelButton: 'swal-button-font-size'
                            }
                        });
                    }
                });
            }
        });
    }
</script>

<script>
    function EditBlockReason(data_id, reason_id) {
        (async () => {
            const { value: new_reason } = await Swal.fire({
                title: '選擇封鎖理由',
                input: 'radio',
                inputOptions: {
                    '派遣或駐點': '派遣或駐點',
                    '交通不方便': '交通不方便',
                    '技能樹不符合': '技能樹不符合',
                    '薪水太低': '薪水太低',
                    '搜尋評論後失去興趣': '搜尋評論後失去興趣',
                    '上班時間超過9小時': '上班時間超過9小時',
                    '對招募流程不滿意': '對招募流程不滿意',
                    '對這類產業沒有興趣': '對這類產業沒有興趣',
                    '看完徵才條件後失去興趣': '看完徵才條件後失去興趣',
                    '面過後失去興趣/無聲卡': '面過後失去興趣/無聲卡',
                    '投遞履歷後沒有回應': '投遞履歷後沒有回應',
                    '莫名被發感謝函': '莫名被發感謝函'
                },
                inputValue: '派遣或駐點',
                showCancelButton: true,
                customClass: {
                    title: 'swal-title-font-size',
                    closeButton: 'swal-button-font-size',
                    confirmButton: 'swal-button-font-size',
                    cancelButton: 'swal-button-font-size',
                    input: 'swal-radio'
                },
            })
            if (new_reason) {
                $.ajax({
                    type: 'POST',
                    url: '@Url.Action("Edit", "BlockCompany")',
                    data: { id: data_id, new_reason: new_reason }
                })
                .done(function (message) {
                    if (message == "修改成功") {
                        // 修改頁面顯示的封鎖理由
                        document.getElementById(reason_id).innerText = new_reason;
                    }
                    else{
                        Swal.fire({
                            title : "操作失敗",
                            customClass: {
                                title: 'swal-title-font-size',
                                closeButton: 'swal-button-font-size',
                                confirmButton: 'swal-button-font-size',
                                cancelButton: 'swal-button-font-size'
                            }
                        });
                    }
                });
            }

        })()
    }
</script>

<div id="page-wrapper">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">封鎖的公司列表</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="table-responsive">
                            <table class="table table-bordered table-hover" id="dataTables-example">
                                <thead>
                                    <tr>
                                        <th style="display:none;">排版用(不顯示)</th>
                                        <th>公司名稱</th>
                                        <th>封鎖理由</th>
                                        <th>操作選項</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @{
                                        int sequence = 0;
                                        foreach (var blockCompany in Model)
                                        {
                                            sequence++;
                                            <tr class="gradeA">
                                                <td style="display:none;">@sequence</td>
                                                <td>@blockCompany.CompanyName</td>
                                                <td id="reason_@blockCompany.Id">@blockCompany.BlockReason</td>
                                                <td class="center-block">
                                                    <button class="btn btn-success" id="edit_@blockCompany.Id" onclick="EditBlockReason(@blockCompany.Id, 'reason_@blockCompany.Id')">修改理由</button>
                                                    <button class="btn btn-danger" id="delete_@blockCompany.Id" onclick="DeleteData(@blockCompany.Id, 'edit_@blockCompany.Id', 'delete_@blockCompany.Id')">刪除</button>
                                                </td>
                                            </tr>
                                        }
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>