@model List<JobFilter2.Models.Entities.BlockCompany>
@using JobFilter2.Services

<script>
    function DeleteData(idOfData, btn_edit, btn_delete) {
        Swal.fire({
            title: "確定要刪除?",
            showCancelButton: true,
            customClass: {
                title: 'swal-title-font-size',
                closeButton: 'swal-button-font-size',
                confirmButton: 'swal-button-font-size',
                cancelButton: 'swal-button-font-size'
            }
        }).then(function(result) {
            if (result.value) {
                $.ajax({
                    type: 'POST',
                    url: '@Url.Action("Delete", "BlockCompany")',
                    data: { Id: idOfData }
                })
                .done(function (message) {
                    if (message == "刪除成功") {
                        //document.getElementById(btn_edit).disabled = true;
                        //document.getElementById(btn_delete).disabled = true;
                        self.location.reload();
                    }
                    else{
                        Swal.fire({
                            title : "操作失敗",
                            customClass: {
                                title: 'swal-title-font-size',
                                closeButton: 'swal-button-font-size',
                                confirmButton: 'swal-button-font-size',
                                cancelButton: 'swal-button-font-size'
                            }
                        });
                    }
                });
            }
        });
    }
</script>

<script>
    function EditBlockReason(data_id, reason_id) {
        (async () => {
            const { value: new_reason } = await Swal.fire({
                title: '請選擇封鎖理由',
                width: 400,
                input: 'radio',
                inputOptions: {
                    @Html.Raw(@Utility.GetRadioItems())
                },
                inputValue: 'R09', // 預設為R09，其對應的中文請參考 Services/Utility.cs
                showCancelButton: true,
                customClass: {
                    title: 'swal-title-font-size',
                    closeButton: 'swal-button-font-size',
                    confirmButton: 'swal-button-font-size',
                    cancelButton: 'swal-button-font-size',
                    input: 'swal-radio'
                },
            })
            if (new_reason) {
                $.ajax({
                    type: 'POST',
                    url: '@Url.Action("Edit", "BlockCompany")',
                    data: { Id: data_id, BlockReason: new_reason }
                })
                .done(function (result) {
                    if (result["code"] === 1) {
                        // 修改頁面顯示的封鎖理由
                        document.getElementById(reason_id).innerText = result["data"];
                    }
                    else{
                        Swal.fire({
                            title : "操作失敗",
                            customClass: {
                                title: 'swal-title-font-size',
                                closeButton: 'swal-button-font-size',
                                confirmButton: 'swal-button-font-size',
                                cancelButton: 'swal-button-font-size'
                            }
                        });
                    }
                });
            }

        })()
    }
</script>

<script>
    function BlockForever() {
        (async () => {
            const { value: formValues } = await Swal.fire({
                width: 600,
                title: '輸入公司名稱與封鎖理由',
                html:
                    '<input id="swal-input1" class="swal2-input" style="width:80%; font-size:20px;" autocomplete="off" placeholder="公司名稱">' +
                    '<input id="swal-input2" class="swal2-input" style="width:80%; font-size:20px;" autocomplete="off" placeholder="封鎖理由">',
                focusConfirm: false,
                showCancelButton: true,
                customClass: {
                    title: 'swal-title-font-size',
                    closeButton: 'swal-button-font-size',
                    confirmButton: 'swal-button-font-size',
                    cancelButton: 'swal-button-font-size',
                },
                preConfirm: () => {
                    if (document.getElementById('swal-input1').value.length == 0) {
                        Swal.showValidationMessage('<span style="font-size:24px;">公司名稱不可為空</span>');
                        return;
                    }
                    if (document.getElementById('swal-input2').value.length == 0) {
                        Swal.showValidationMessage('<span style="font-size:24px;">封鎖理由不可為空</span>');
                        return;
                    }
                    return [
                        document.getElementById('swal-input1').value,
                        document.getElementById('swal-input2').value
                    ]
                }
            })
            if (formValues) {
                let CompanyName = formValues[0];
                let BlockReason = formValues[1];
                $.ajax({
                    type: 'POST',
                    url: '@Url.Action("BlockForever", "BlockCompany")',
                    data: { CompanyName: CompanyName, BlockReason: BlockReason }
                })
                .done(function (result) {
                    let resultMessage = result === "封鎖成功" ? "操作成功" : "操作失敗";
                    Swal.fire({
                        title: resultMessage,
                        customClass: {
                            title: 'swal-title-font-size',
                            closeButton: 'swal-button-font-size',
                            confirmButton: 'swal-button-font-size',
                            cancelButton: 'swal-button-font-size'
                        }
                    });
                });
            }
        })()
    }
</script>

<div id="page-wrapper">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">封鎖的公司列表</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <button class="btn btn-primary" onclick="BlockForever()">新增永久封鎖</button>
                        <a class="btn btn-warning" href="@Url.Action("BlockAllForever", "BlockCompany")">全部轉成永久封鎖</a>
                    </div>
                    <div class="panel-body">
                        <div class="table-responsive">
                            <table class="table table-bordered table-hover" id="dataTables-example">
                                <thead>
                                    <tr>
                                        <th style="display:none;">排版用(不顯示)</th>
                                        <th>公司名稱</th>
                                        <th>封鎖理由</th>
                                        <th>操作選項</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @{
                                        int sequence = 0;
                                        foreach (var blockCompany in Model)
                                        {
                                            sequence++;
                                            <tr class="gradeA">
                                                <td style="display:none;">@sequence</td>
                                                <td>@blockCompany.CompanyName</td>
                                                <td id="reason_@blockCompany.Id">@Utility.BLOCK_REASON[blockCompany.BlockReason]</td>
                                                <td class="center-block">
                                                    <button class="btn btn-success" id="edit_@blockCompany.Id" onclick="EditBlockReason(@blockCompany.Id, 'reason_@blockCompany.Id')">修改理由</button>
                                                    <button class="btn btn-danger" id="delete_@blockCompany.Id" onclick="DeleteData(@blockCompany.Id, 'edit_@blockCompany.Id', 'delete_@blockCompany.Id')">刪除</button>
                                                </td>
                                            </tr>
                                        }
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>